<?xml version="1.0"?>
<config>
  <modules>
    <BWW_BundleIDs>
      <version>0.1.0</version>
    </BWW_BundleIDs>
  </modules>
  <frontend>
    <routers>
      <bundleids>
        <use>standard</use>
          <args>
            <module>BWW_BundleIDs</module>
            <frontName>bundleids</frontName>
          </args>
      </bundleids>
    </routers>
		<layout>
		  <updates>
			<bundleids>
			  <file>bundleids.xml</file>
			</bundleids>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <bundleids>
        <class>BWW_BundleIDs_Helper</class>
      </bundleids>
    </helpers>
	<blocks>
	  <bundleids>
		<class>BWW_BundleIDs_Block</class>
	  </bundleids>
	</blocks>
  </global>
</config> 